@import 'mixins';

.answer {
  margin-top: 180px;
  &__title {
    text-align: center;
    font-weight: 500;
    font-size: 46px;
    line-height: 140%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }
  &__decor {
    @include points-scenery();
    margin: 40px 0 60px;
  }
  &__block {
    display: flex;
    justify-content: center;
    &-form {
      position: relative;
      max-width: 642px;
    }

    &-top {
      input {
        margin-right: 24px;
        &:last-child {
          margin-right: 0;
        }
      }
    }

    &-name {
    }
    &-userphone {
    }
    &-styles {
      border: 1px solid var(--silver);
      padding: 14px 20px;
      width: 307px;
      font-weight: 600;
      font-size: 14px;
      line-height: 140%;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      background: transparent;
      border-radius: 3px;
      transition: all 0.3s ease;
      color: var(--white);
      font-family: 'Oswald', sans-serif;
      &:hover {
        border: 1px solid var(--white);
        &::placeholder {
          color: var(--white);
          transition: all 0.3s ease;
        }
      }
      &:focus {
        outline: 0;
        outline-offset: 0;
        border: 1px solid var(--white);
      }
    }

    &-center {
      margin: 24px 0;
      display: flex;
      justify-content: space-between;
    }

    &-text {
      resize: none;
      width: 523px;
      height: 150px;
    }
    &-social {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &-link {
      display: inline-flex;
      border: 1px solid var(--silver);
      padding: 10px;
      transition: all 0.3s ease;
      img {
        width: 20px;
      }
      &:hover {
        border: 1px solid var(--main-color);
      }
    }
    &-bottom {
      display: flex;
      justify-content: space-between;
    }
    &-btn {
      @include main-btn();
      margin: 0;
      &::before {
        content: '';
        width: 52%;
      }
    }
    &-contact {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
    }
    &-con {
      display: flex;
      align-items: center;
      text-transform: uppercase;
      font-style: normal;
      &:nth-child(even) {
        margin-right: 32px;
      }
      img {
        margin-right: 14px;
        width: 24px;
      }
      a {
        color: var(--white);
      }
    }
  }
}

//----------------------------------------------------->

@media (max-width: 768px) {
  .answer__block {
    display: block;
  }

  .answer__block-form {
    max-width: 100%;
  }

  .answer__block-top {
    text-align: center;
  }

  .answer__block-top input {
    margin: 0;
  }

  .answer__block-top input {
    margin: 0;
  }

  .answer__block-name,
  .answer__block-userphone {
    margin-bottom: 25px !important;
  }

  .answer__block-styles {
    width: 70%;
  }

  .answer__block-text {
    margin: 0 auto;
  }

  .answer__block-center {
    flex-direction: column;
    margin: 0;
  }

  .answer__block-social {
    display: flex;
    flex-direction: initial;
    justify-content: center;
    margin-top: 25px;
  }

  .answer__block-link {
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }

  .answer__block-bottom {
    margin-top: 25px;
    flex-direction: column;
  }

  .answer__block-button {
    margin: 0 auto;
  }

  .answer__block-contact {
    display: block;
    margin-top: 25px;
  }

  .answer__block-con {
    justify-content: center;
    margin: 0 !important;
    margin-bottom: 15px !important;
    &:last-child {
      margin-bottom: 0 !important;
    }
  }
}

@media (max-width: 425px) {
  .answer__title {
    font-size: 27px;
  }

  .answer__block-btn {
    padding: 15px 25px;
    border-radius: 3px;
    font-size: 18px;
    padding: 12px 17px;
    width: 155px;
  }
}
