@import 'mixins';

.cup {
  margin-top: 180px;
  &__block {
    display: flex;
    justify-content: space-between;
  }

  &__left {
    flex-basis: 50%;
    margin-right: 24px;
    &-box {
      display: grid;
      grid-template-columns: repeat(2, 2fr);
      padding: 30px;
      column-gap: 99px;
      align-items: center;
      row-gap: 51px;
      img {
        max-width: 160px;
      }
    }
    &-title {
      font-weight: 500;
      font-size: 46px;
      line-height: 160%;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      &-two {
        font-size: 32px;
        font-weight: 500;
        text-transform: uppercase;
        line-height: 45px;
      }
    }
    &-decor {
      // - Миксин с Декоративными Поинтами -//
      @include points-scenery();
      justify-content: flex-start;
      margin: 40px 0 60px;
    }
    &-desc {
      font-size: 18px;
      line-height: 29px;
      letter-spacing: 0.03em;
      max-width: 526px;
    }
  }

  &__right {
    display: flex;
    flex-basis: 50%;
    &-column {
      flex-basis: 100%;
      &:last-child {
        transform: translateY(5%);
      }
    }
    &-box {
      text-align: center;
      position: relative;
      border: 1px solid var(--silver);
      padding: 25px 20px;
    }
    &-number {
      font-size: 24px;
      letter-spacing: 0.1em;
      color: var(--main-color);
      em {
        font-weight: 600;
        font-size: 45px;
        line-height: 140%;
        letter-spacing: 0.05em;
        color: var(--main-color);
        font-style: normal;
      }
    }
    &-text {
      font-size: 14px;
      margin-top: 12px;
      line-height: 140%;
      letter-spacing: 0.05em;
      text-transform: uppercase;
    }
    &-icon {
      margin-bottom: 11px;
      width: 37.26px;
    }
  }
}

//------------------------------------------------------>

@media (max-width: 992px) {
  .cup__left-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 0 0 0 !important;
    column-gap: 20px;
    row-gap: 20px;
    margin: 0 auto;
  }

  .cup__left-title {
    font-size: 33px;
    line-height: 140%;
  }

  .cup__left-decor {
    margin: 25px 0;
    display: flex;
    justify-content: center;
  }

  .cup__left-desc {
    margin: 0 auto;
  }

  .cup__right-text {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .cup__block {
    display: block;
  }

  .cup__left {
    text-align: center;
    margin: 0 0 60px;
  }

  .cup__left-desc {
    max-width: 100%;
  }

  .cup__left-decor {
    justify-content: center;
  }
}

@media (max-width: 425px) {
  .cup {
    margin-top: 67px;
  }

  .cup__left-title {
    font-size: 25px;
    line-height: 140%;
    &-two {
      font-size: 26px;
      line-height: 39px;
    }
  }
}

@media (max-width: 375px) {
  .cup__left-desc {
    font-size: 16px;
  }

  .cup__right-text {
    margin-top: 12px !important;
  }
}
