@import 'mixins';

// - Верхний Заголовок -//
.gallery {
  margin-top: 180px;
  &__title {
    text-align: center;
    font-weight: 500;
    font-size: 46px;
    line-height: 140%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }
  &__decor {
    @include points-scenery();
    margin: 40px 0 60px;
  }
  &__box {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    &-item {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

//----------------------------------------------------->
@media (max-width: 1024px) {
  .gallery__box {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 992px) {
  .gallery {
    margin-top: 90px !important;
  }

  .gallery__title {
    font-size: 32px;
  }
}

@media (max-width: 600px) {
  .gallery__box {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 425px) {
  .gallery__box {
    grid-template-columns: repeat(1, 1fr);
  }
  .gallery__box-item {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 85%;
      text-align: center;
    }
  }

  .gallery__title {
    font-size: 27px;
  }
}
