.slider{
    position: relative;
    margin-top: 220px !important;
    &__item{
        &-box{
            max-width: 366px;
            height: 70px;
            margin: 0 auto;
            transform: translateY(-42px);
            background-color: var(--main-color);
            span {
                display: inline-block;
                text-align: center;
                text-transform: uppercase;
                font-size: 14px;
                line-height: 140%;
                letter-spacing: 0.05em;
                padding: 37px 51px;
                display: inline-block;
                line-height: 159%;
                padding: 32px 51px;
            }
        }
    }
}

.slider__main-next, .slider__main-prev{
    width: 70px;
}

.slider__main-next{
    left: 8%;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: 8%;
    left: auto;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: 8%;
    right: auto;
}

.slider__main-next:after, .swiper-rtl .slider__main-next:after {
    content: '';
}

.slider__main-prev:after, .swiper-rtl .slider__main-prev:after {
    content: '';
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    display: none;
}


//----------------------------------------------------->

@media (max-width: 1734px) {
    .slider__main-next, .swiper-button-next {
        right:  2%;
    }
    .slider__main-prev, .swiper-button-prev {
        left:  2%;
    }
}

@media (max-width: 1480px) {
    .slider__main-pagination{
        display: block !important;   
        bottom: -70px !important;
        span{
          background-color: var(--main-color);
          width: 25px;
          height: 25px;
        }
    }

    .slider__main-next {
        display: none;
    }

    .slider__main-prev {
        display: none;
    }

    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 var(--swiper-pagination-bullet-horizontal-gap,14px);
    }
}

@media (max-width: 767px) {
    .slider__item-block{
        width: 70%;
        margin: 0 auto;
    }
}

@media (max-width: 570px) {
    .slider__item-block{
        width: 100%;
    }
}