@import 'mixins';

.table {
  margin-top: 180px;
  &__block {
    width: 100%;
    justify-content: center;
    display: flex;
    &-columns {
      display: flex;
      justify-content: space-around;
      align-items: center;
      text-transform: uppercase;
      font-size: 20px;
      line-height: 34px;
      text-align: center;
      letter-spacing: 0.05em;
      border: 1px solid var(--silver);
      border-left: none;
      border-right: none;
      padding: 25px 0;
      &:first-child {
        padding: 30px 0;
        justify-content: center;
      }
      &:nth-child(even) {
        border: none;
      }
    }
    &-title {
      width: 240px;
      margin-right: 24px;
      &:last-child {
        margin-right: 0;
      }
    }
    &-class {
      flex-basis: 25%;
      color: var(--main-color);
      b {
        font-weight: 500;
      }
    }
    &-price {
      color: var(--silver);
      flex-basis: 25%;
    }
  }
}

//------------------------------------------------------>

@media (max-width: 1300px) {
  .table__block-columns {
    &:first-child {
      display: block;
    }
  }
}

@media (max-width: 768px) {
  .table__block-columns {
    padding: 14px 0;
    font-size: 18px;
    line-height: 28px;
    &:first-child {
      padding: 10px 0 !important;
    }
  }
}

@media (max-width: 580px) {
  .table__block-columns {
    padding: 14px 0;
    line-height: 22px;
    &:first-child {
      padding: 10px 0 !important;
    }
  }

  .table__block-class {
    font-size: 16px;
  }

  .table__block-title {
    font-size: 16px;
  }
}

@media (max-width: 425px) {
  .table__block-price {
    font-size: 14px;
  }

  .table__block-title {
    font-size: 14px;
  }
}

@media (max-width: 375px) {
}
