<footer class="footer">
    <div class="container">
        <div class="footer__block">
            <div class="footer__block-left">
                <p class="footer__block-copy">2022 © Est et viverra pellentesque pharetra lorem proin in. Vitae magna at tempus commodo.</p>
            </div>
            <div class="footer__block-right">
                <nav class="footer-menu">
                    <a class="footer-menu__link" href="index.html">Главная</a>
                    <a class="footer-menu__link" href="carwrapping.html">Оклейка автомобилей</a>
                    <a class="footer-menu__link" href="#">Детейлинг автомобилей</a>
                    <a class="footer-menu__link" href="#">Галерея работ</a>
                </nav>
            </div>
        </div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script src="js/main.min.js"></script>
</body>
</html>